
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  GRAPES STYLES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// SEPARATOR
.tablify-entry_type-separator {
  cursor: default !important;
  background-color: initial !important;
  // make icon invisible, but do not collapse it's space
  .image { opacity: 0; }
  // center eventual text, and draw a horizontal line
  .title {
    text-align: center;
    border-bottom: 1px solid;
  }
}

// MAKE BUTTON IN VIEWIFY HELP SMALLER
.hestia-type-viewify-help_button {
  font-size: .8em !important;
  margin-top: .5em;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  METHOD STYLES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.hestia-squyntax-function {

  .squyntax {
    display: inline-block;
    margin-left: 1em;
  }
  .squyntax-type { .back.primary(); }
  .squyntax-description { .back.secondary(); }

  .function-description { .back.secondary(); }
  a { .back.secondaryAndHover(); }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  MONITORING TYPE STYLES
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify_container[inputify-name="toprocess"], .inputify_container[inputify-name="todont"] {
  .hestia-monitoring-subjects_list_input_container .hestia-monitoring-subjects_list_input { padding: 0; }
}
.hestia-monitoring-subjects_list_input_container {
  padding: 0 !important;
  .hestia-monitoring-subjects_list_input {
    padding: .3em 0;
    background: none;
    & > .children_inputs {
      display: flex;
      flex-wrap: wrap;
      & > .inputify_container {
        padding: .1em;
      }
      .inputify-suggest_like[inputify-name="frequency"] > .inputify .inputify-sl-value { width: 1.8em; }
      .inputify-suggest_like[inputify-name="frequency"] > .inputify,
      .inputify-suggest_like[inputify-name="priority"] > .inputify,
      .inputify-suggest_like[inputify-name="subject"] > .inputify {
        padding: 0;
        .inputify-sl-value { padding: 0; }
        .inputify-sl-arrow { display: none; }
        .inputify-sld-choice { text-align: center; }
      }
      .inputify-suggest_like[inputify-name="priority"]  {
        & > .inputify .inputify-sl-value_content,
        .inputify-sld-choice {
          padding: 0;
          width: 1.6em;
          margin: auto;
          & > div {
            height: 1.6em;
            width: 1.6em;
          }
        }
      }
    }
  }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
